body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:322px;
  width:270px;
  height:34px;
}
#u1284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:355px;
  width:270px;
  height:1px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:332px;
  width:20px;
  height:19px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:265px;
  width:128px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:607px;
  width:294px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:352px;
  width:200px;
  height:1px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:46px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:338px;
  width:352px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:118px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:539px;
  width:352px;
  height:118px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:625px;
  width:200px;
  height:1px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:116px;
  width:139px;
  height:139px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:166px;
  width:40px;
  height:40px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:448px;
  width:270px;
  height:34px;
}
#u1306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:481px;
  width:270px;
  height:1px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:458px;
  width:20px;
  height:19px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:385px;
  width:270px;
  height:34px;
}
#u1312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:418px;
  width:270px;
  height:1px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:395px;
  width:20px;
  height:19px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:285px;
  width:200px;
  height:1px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:29px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:271px;
  width:352px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:332px;
  word-wrap:break-word;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:285px;
  width:270px;
  height:179px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:300px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:322px;
  width:243px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:243px;
  word-wrap:break-word;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:418px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:418px;
  width:270px;
  height:1px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:418px;
  width:1px;
  height:46px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:418px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:486px;
  width:270px;
  height:179px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:501px;
  width:128px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:96px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:523px;
  width:243px;
  height:96px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:243px;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:46px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:619px;
  width:135px;
  height:46px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:619px;
  width:270px;
  height:1px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:619px;
  width:1px;
  height:46px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:46px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:619px;
  width:270px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2087FC;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:270px;
  word-wrap:break-word;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:506px;
  width:20px;
  height:20px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:511px;
  width:10px;
  height:10px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:508px;
  width:30px;
  height:18px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:506px;
  width:20px;
  height:20px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:511px;
  width:10px;
  height:10px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:508px;
  width:30px;
  height:18px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:560px;
  width:20px;
  height:20px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:565px;
  width:10px;
  height:10px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:562px;
  width:30px;
  height:18px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:560px;
  width:20px;
  height:20px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:565px;
  width:10px;
  height:10px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:562px;
  width:30px;
  height:18px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:507px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:561px;
  width:44px;
  height:18px;
  color:#CCCCCC;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
