body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:31px;
  width:22px;
  height:22px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:588px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:588px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:28px;
  width:31px;
  height:31px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:34px;
  width:14px;
  height:20px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:29px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:171px;
  width:380px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:185px;
  width:60px;
  height:1px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
