body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:10px;
  height:17px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:46px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:31px;
  width:22px;
  height:22px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
.u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
.u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:115px;
  font-size:18px;
  color:#FFFFFF;
}
.u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u965 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:100px;
  height:100px;
}
.u966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
.u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u967 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:18px;
  width:197px;
  height:18px;
  color:#000000;
}
.u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
.u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
.u969 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:42px;
  width:180px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
.u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
.u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u973 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:83px;
  width:37px;
  height:15px;
  font-size:13px;
}
.u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
.u975 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:82px;
  width:16px;
  height:18px;
}
.u976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
.u979 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:84px;
  width:37px;
  height:15px;
  font-size:13px;
}
.u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
.u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
.u981 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:84px;
  width:21px;
  height:16px;
}
.u982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
.u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:6px;
}
.u983 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:59px;
  width:24px;
  height:6px;
}
.u984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
.u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
.u985 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:75px;
  width:40px;
  height:16px;
  font-size:12px;
  color:#CCCCCC;
}
.u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
.u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u987 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:75px;
  width:16px;
  height:16px;
}
.u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u989 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:71px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u962-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:115px;
}
#u962-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:375px;
  height:115px;
}
#u962-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:375px;
  height:115px;
}
#u962-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:345px;
  width:375px;
  height:115px;
}
#u962-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:460px;
  width:375px;
  height:115px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:65px;
  width:27px;
  height:26px;
  font-size:12px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
